<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="UK017284:MasterConnectionString" value="Data Source=UK017284;Initial Catalog=Master;Integrated Security=True;Pooling=False"/>
		<add key="UK017284:BookDatabaseConnectionString" value="Data Source=UK017284;Initial Catalog=BookDatabase;Integrated Security=True;Pooling=False"/>
	</appSettings>
</configuration>